.events-background{
    padding-top: 100px;
    background-image: url(Images/coffee-notebook.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    height: 85vh;
    overflow: auto;
}

.event-container h3.year {
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid gray;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 5px black;
}
  
.event-container .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    margin: 32px 0;
}
  
.event .event-left {
    background: #222;
    width: 155.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 8px 48px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}
  
.event .event-left .date {
    font-size: 56px;
}
  
.event .event-left .month {
    font-size: 16px;
    font-weight: normal;
}
  
.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    background-color: rgba(255, 255, 255, 0.687);
    width: 100%;
}

.event .event-right a {
    width: fit-content;
    text-decoration-color: #218bbb;
}
  
.event .event-right h3.event-title {
    font-size: 24px;
    margin: 24px 0 10px 0;
    color: #218bbb;
    text-transform: uppercase;
}
  
.event .event-right .event-timing,
.event .event-right .calendar-button {
    background: #baeaff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
    white-space: nowrap;
}
  
.event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
}

.event .event-right .calendar-button {
    color: black;
}
  
/* Mobile View - When screen width is less than 768px */
@media only screen and (max-width: 768px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }
}