body {
    margin: 0pt;
    width: 100vw;
    height: 100%;
    background-color: black;
}

nav li{
    font-family: Times New Roman Seven Seven;
    font-size: larger;
    padding-inline: 2vw;
}

nav .dropdown .dropdown-item{
    border-radius: .375rem;
}

section{
    padding-top: 100px;
}

.home-background{
    background-image: url(Images/home-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 90vh;
}

.carousel-img{
    width: 75vw;
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-header{
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    background-position: center;
    width: 100%;
    height: fit-content;
    text-shadow: 2px 2px 5px black;
}

.grubhub-carousel-image{
    background-image: url(Images/grubhub-logo.png);
    background-color: rgb(246,52,64);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 75vw;
    height: 75vh;
}

.grubhub-carousel-image h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h1, h2, h3, p{
    color: white;
}

footer{
    margin-bottom: 50pt;
}

@media only screen and (max-width: 1199px) {
    #aboutSocials{
        flex-direction: column;
    }
}

/* Mobile View - When screen width is less than 768px */
@media only screen and (max-width: 768px) {

    .carousel-img, .grubhub-carousel-image{
        height: 50vh;
    }

    #aboutContentFlex {
        flex-direction: column-reverse;
        margin-block: auto;
    }

    .responsive-flex{
        flex-direction: column;
    }

}

@media (min-aspect-ratio: 3/2) {
    
    .grubhub-carousel-image{
        background-size: 75vh;
    }

}