.menu-background{
    background-image: url(Images/menu-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}

.blur{
    background: radial-gradient(black, transparent);
    background-position: center;
    width: fit-content;
    height: fit-content;
}

h1, .menu-page{
    font-family: 'Caveat', cursive;
}

.menu-page{
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.7);
    width: 90vw;
    height: 75vh;
    font-size: x-large;
    padding: 1em;
    padding-bottom: 2em;
}

.menu-item-flex{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.menu-item-flex h3{
    text-decoration: underline;
}

.menu-item-flex h3 span{
    display: inline-block;
    text-decoration: none;
}

.sugar-free-flavors li{
    margin-inline: 1em;
}

.underline{
    text-decoration: underline;
}

@media only screen and (min-width: 1040px) {

    .width-75{
        width: 75%;
    }

    .width-50{
        width: 50%;
    }

    .width-25{
        width: 25%;
    }

    .margin-inline-auto{
        margin-inline: auto;
    }

    .margin-block-auto{
        margin-block: auto;
    }
}

@media only screen and (max-width: 1040px) {

    .responsive-flex{
        flex-direction: column;
    }

    .responsive-padding-top{
        padding-top: 1em;
    }

    .indent-list{
        width: 50%;
        margin-inline: auto;
    }
}

@media only screen and (max-height: 640px) {

    .menu-page{
        height: 60vh;
    }

}